{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h1>Conferences</h1>

    {% for conference in conferences %}
        <h2>{{ conference }}</h2>
    {% endfor %}
{% endblock %}