{% extends 'base.html.twig' %}

{% block title %}Conferences{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Conferences</h1>

        {% if conferences|length > 0 %}
            {% for conference in conferences %}
                <h4>{{ conference }}</h4>
                <p>
                    <a href="{{ path('conferences.show', { id: conference.id }) }}">View</a>
                </p>
            {% endfor %}
        {% else %}
            <div>No conferences have been posted yet.</div>
        {% endif %}

    </div>
{% endblock %}
